<a href="https://colab.research.google.com/github/minsaee/python_demo/blob/master/100_python_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.python.org/   
https://docs.python.org/3/tutorial/index.html   
https://peps.python.org/pep-0008/   
https://wikidocs.net/book/1   
https://dojang.io/course/view.php?id=7

In [ ]:
# python version 확인
!python --version

Python 3.10.12

In [ ]:
# python에서 추구하는 철학
import this

In [ ]:
import keyword
keyword.kwlist

In [ ]:
print(keyword.kwlist) #print() 출력해줌.
print(len(keyword.kwlist)) #len(값) 값의 갯수를 구해줌. # 35개

# 키워드는 식별자로 사용할 수 없다.
#as = 3 -> SyntaxError: invalid syntax

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# 내장함수는 식별자로 사용할 수 있다. link https://docs.python.org/3/library/functions.html#func-list
# 식별자로 사용하면 내장함수의 기능을 잃어버린다.

#list((1,2,3)) -> TypeError: 'int' object is not callable
#del list -> 식별자로 사용 된 list 변수 삭제

list((1,2,3)) # 정상작동
# 내장함수를 식별자로 사용하는 것은 비추천.

[1, 2, 3]

In [ ]:
'Hello world'
'Hello world' # 마지막 값만 출력

'Hello world'

In [ ]:
print('Hello world')
print('Hello world') # 모두 출력

Hello world
Hello world

In [ ]:
# ; (세미콜론) : 문장의 끝을 의미한다.
# 하나의 문장이 끝나면 문장의 끝에 세미콜론을 입력한다.
# 하지만 파이썬에서는 줄바꿈해서 입력하면 세미콜론 생략이 가능하다.
print('hi'); print('hi') # 하나의 줄에서 표현 할 때는 ;으로 문장의 끝을 표시함.

hi
hi

In [ ]:
# 변수(variable) : 값을 저장하는 메모리 공간
# 파이썬에서는 데이터타입을 지정하지는 않는다.
a = 10; b = 20; print(a); print(b)

10
20

In [ ]:
#한 문장을 여러라인에 거쳐서 입력해야 할 때 '\' 사용
if(a==11) and \
(b==20):
  print('OK')
else:
  print('NO')

NO

In [ ]:
start = end = 1 # 같은 값을 가지는 변수는 함께 선언 가능.
print(start)
print(end)

1
1

In [ ]:
a = '3' + '4' # + 문자열 연결의 의미로 사용.
print(a)

34

In [ ]:
a = 1
a = eval('3+4') #eval함수는 연산 가능.
print(a)

a = eval('a+3')
print(a)

a = eval('3' + '4') #홑따음표 구분으로 위와 동일한 의미로 +가 사용됨
print(a)

7
10
34

## 자료형
1. 데이터 저장방법에 따른 자료형의 분류  
  직접(direct)형 : 직접 데이터를 표현하는 자료형 : int, float, complex      
  시퀀스(sequence)형: 다른 데이터를 포함하는 자료형, 순서가 있는 집합 자료형 : list,str, tuple, bytes, bytearray,range    
  매핑(Mapping)형 : 다른 데이터를 포함하는 자료형 : dict    
  집합(Set)형 : 순서가 없고, 중복된 값도 없다. : set, frozenset  

2. 변경 가능성에 따른 자료형 분류  
  변경 가능형(Mutable) : 데이터의 값을 변경할 수 있다.  : list, dict, set  
  변경 불가능형(Immutable) : 데이터의 값을 변경할 수 없다. : int, float, complex, str, tuple, frozenset

3. 데이터 저장 개수에 따른 자료형의 분류   
  리터널(Literal/Scalar)형 : 한 가지 객체만 저장한다. : int, bytes, str, float, complex  
  컨테이널(Container)형 : 여러 가지 객체를 저장한다. : list, tuple, dict, set, fronzenset

type( ) : 데이터 자료형 확인

In [ ]:
type(5)

int

In [ ]:
type(3.14)

float

In [ ]:
type([1, 3, 5]) # 리스트 []

list

In [ ]:
type((2, 6, 7)) # 튜플 ()

tuple

In [ ]:
a = 2, 6, 7
type(a)

tuple

In [ ]:
def call():
  return 2,3,4; # 함수 정의

print(call())
print(type(call()))

(2, 3, 4)
<class 'tuple'>

In [ ]:
type({1, 2, 3}) # 집합 {}

set

In [ ]:
type({a:3, b:4}) # 딕셔너리 { : , : }

dict

In [ ]:
type('python') # python은 문자와 문자열 구분이 없이 문자열로 처리함.

str

dir( ) : 자료형의 내장함수를 검색 할 수 있다.

In [ ]:
print(dir(str))
print(len(dir(str))) # 80개

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
80

In [ ]:
print(dir(list))
print(len(dir(list))) # 47개

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
47

In [ ]:
a = [1, 2, 3]
print(a.__dir__()) # built-in method < 함수로 호출 () 첨가
print(len(a.__dir__()))

['__new__', '__repr__', '__hash__', '__getattribute__', '__lt__', '__le__', '__eq__', '__ne__', '__gt__', '__ge__', '__iter__', '__init__', '__len__', '__getitem__', '__setitem__', '__delitem__', '__add__', '__mul__', '__rmul__', '__contains__', '__iadd__', '__imul__', '__reversed__', '__sizeof__', 'clear', 'copy', 'append', 'insert', 'extend', 'pop', 'remove', 'index', 'count', 'reverse', 'sort', '__class_getitem__', '__doc__', '__str__', '__setattr__', '__delattr__', '__reduce_ex__', '__reduce__', '__subclasshook__', '__init_subclass__', '__format__', '__dir__', '__class__']
47

help( ) : 자료형에서 제공하는 메소드 사용법을 검색 할 수 있다.

In [ ]:
#help(str)
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [ ]:
'hello'.index('l') # 앞에서 부터 찾아줌 0,1,2...

2

## Sequence 자료형
- Sequence은 여러 객체를 저장할 수 있는 순서를 갖는 연속된 자료형이다.
- 자료형 종류 : str, tuple, list
- sequence형의 공통적인 연산
  - 인덱싱(indexing)
  - 슬라이싱(slicing)
  - 연결하기
  - 반복하기
  - 멤버 검사
  - 길이정보

문자열(str)

문자열은 문자들을 표현하는 자료형으로 작은따옴표(')나 큰따옴표(")로 묶는다.   
문자열의 슬라이싱 : [인덱스 시작 : 인덱스 끝 : 스텝]  
스텝의 default은 1의 값을 갖는다.

In [ ]:
a = 'Life is too short, You need python'
print(a)

a = "Life is too short, You need python"
print(a)

Life is too short, You need python
Life is too short, You need python

In [ ]:
a = "Python's favorite food is perl"
print(a)
print(id(a))

a = '"Python is very easy." he says.'
print(a)
print(id(a)) # id( ) : 메모리의 고유값을 나타냄.

a = 'Python\'s favorite food is perl' # 문자열로 출력하려하면 \를 앞에 붙이기.
print(a)

a = '\"Python is very easy." he says.' # 쌍으로 이룰 때는 앞에 기호에만 있어도 유지됨.
print(a)

Python's favorite food is perl
136159286907392
"Python is very easy." he says.
136159286906352
Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
b = """
Life is too short
You need python
""" # ''' 로도 사용 가능
print(b)

Life is too short
You need python

In [ ]:
a = 'Life is too short'
len(a) # 문자열의 길이 확인 (공백도 인식함.)

17

In [ ]:
s_val = 'hello python!'
print(s_val)
len(s_val)

hello python!

13

In [ ]:
# indexing(인덱싱) : 하나만 가져오기
s_val[1]

'e'

In [ ]:
# slicing(슬라이싱) [start:end:step] step생략가능(생략시 1씩 증가)
                    # start이상 end미만 출력
s_val[0:5]

'hello'

In [ ]:
s_val[1:2] # 1이상 2미만

'e'

In [ ]:
s_val[1:] # end 생략시 끝까지 출력

'ello python!'

In [ ]:
s_val[:5] # start 생략시 end앞까지 출력

'hello'

In [ ]:
# 변수의 모든 데이터를 가지고 옴
print(s_val[:])
print(s_val[0:])

hello python!
hello python!

In [ ]:
s_val[-1] # 뒤에서 부터 '-1'

'!'

In [ ]:
s_val[::-1] # 역순으로 가져오기

'!nohtyp olleh'

In [ ]:
s_val[13::-1] # 역순일시 start:end도 역순

'!nohtyp olleh'

문자열 연결하기 : (+)연산자를 사용

In [ ]:
s_val2 = 'hello' + ' '+ 'python!'
s_val2

'hello python!'

In [ ]:
# s_val2 = 'hello' + 2 #-> python에서는 다른 type끼리는 (+)연산자를 사용 할 수 없음.
# TypeError: can only concatenate str (not "int") to str

문자열 반복하기 : (*)연산자를 사용

In [ ]:
s_val = 'win' * 3
s_val

'winwinwin'

In [ ]:
# s_val = 'win' * 'win'
# TypeError: can't multiply sequence by non-int of type 'str'

## 문자열을 변경 할 때 슬라이싱과 연결하기 사용

In [ ]:
s_val = 'hello python!'
s_val

'hello python!'

In [ ]:
s_check = 'H' + s_val[1:]
s_check

'Hello python!'

## in연산자로 멤버 검사를 해서 부분 문자열의 존재 확인

In [ ]:
s_val = 'red green blue'
s_val

'red green blue'

In [ ]:
'green' in s_val #bool형식

True

In [ ]:
'white' in s_val # 파이썬에서는 논리값 출력시 첫글자 대문자

False

문자열 서식지정 : 어떤 문서 양식을 만들어 넣고 빈칸에 필요한 내용을 채워서 문서를 지정한다.

In [ ]:
s_val7 = 'python'
s_val8 = 83.5

print('%s 의 점수는 %.1f입니다.' % ( s_val7, s_val8)) # python1, 2방식
print('{} 의 점수는 {}입니다.'.format(s_val7, s_val8)) # python3 방식
print('{1} 의 점수는 {0}입니다.'.format(s_val8, s_val7))
print('{subject} 의 점수는 {jumsu}입니다.'.format(jumsu=s_val8, subject=s_val7))
print('{{0}} 의 점수는 {{1}}입니다.'.format(s_val7, s_val8)) # { }자체를 출력할때 {{}}을 한다.
print('{{{0}}} 의 점수는 {{{1}}}입니다.'.format(s_val7, s_val8)) # {}자체와 값을 출력할때는 {{{}}}을 한다.

print('{0:<10} 의 점수는 {1}입니다.'.format(s_val7, s_val8))  # 10자리 확보하고 남은 공간은 오른쪽을 여백으로 채운다.
#print('{:<10} 의 점수는 {}입니다.'.format(s_val7, s_val8))

print('{0:>10} 의 점수는 {1}입니다.'.format(s_val7, s_val8))  # 10자리 확보하고 남은 공간은 왼쪽을 여백으로 채운다.
#print('{:>10} 의 점수는 {}입니다.'.format(s_val7, s_val8))

print('{0:!^10} 의 점수는 {1}입니다.'.format(s_val7, s_val8)) # 10자리 확보하고 남은 공간은 !, 가운데 정렬로 채운다.
#print('{:^10} 의 점수는 {}입니다.'.format(s_val7, s_val8))

python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
{0} 의 점수는 {1}입니다.
{python} 의 점수는 {83.5}입니다.
python     의 점수는 83.5입니다.
    python 의 점수는 83.5입니다.
!!python!! 의 점수는 83.5입니다.

## 문자열에서 제공하는 메소드

In [ ]:
a = 'hobby'
# a.count? : ? 상세 도움말 출력
a.count('b') # 문자열 속 특정 문자의 개수 리턴

2

In [ ]:
len(a) #문자열의 모든 문자의 개수 리턴

5

In [ ]:
a.find('b')
print(a.find('b')) # 'b'의 인덱스 리턴
print(a.index('b'))

2
2

In [ ]:
print(a.find('c')) # 찾는 문자열이 없으면 -1 리턴
# print(a.index('c')) 찾는 문자열이 없으면 오류 발생 (ValueError: substring not found)

-1

In [ ]:
# 문자열의 각각의 (문자열) 사이에 삽입해준다.
'goat'.join('FAKER') #'문자열'.join('문자열')

'FgoatAgoatKgoatEgoatR'

In [ ]:
'*'.join(['red', 'blue', 'green'])

'red*blue*green'

In [ ]:
a = 'hello'
a.upper() # 데이터를 모두 대문자로 변경 후 출력

'HELLO'

In [ ]:
a = 'GODS'
a.lower() # 데이터를 모두 소문자로 변경 후 출력

'gods'

In [ ]:
a = '     hello   wo   r l d   '
print(len(a)) # 26
print(a)
b = a.lstrip() # 'l' left 왼쪽 공백 제거
print(len(b)) # 21
print(b)

26
     hello   wo   r l d
21
hello   wo   r l d

In [ ]:
a = '     hello   wo   r l d   '
print(len(a)) # 26
print(a)
b = a.rstrip() # 'r' right 오른쪽 공백 제거
print(len(b)) # 23
print(b)

26
     hello   wo   r l d
23
     hello   wo   r l d

In [ ]:
a = '     hello   wo   r l d   '
print(len(a)) # 26
print(a)
b = a.strip() # 양쪽 공백 제거
print(len(b)) # 18
print(b)

# 가운데 스트립을 지우는 건 불가능 > 다른 방법 찾기

26
     hello   wo   r l d
18
hello   wo   r l d

In [ ]:
a = 'Hello Python'
print(a.replace('Python','파이썬')) #문자열 변경 ('old', 'new') old -> new

Hello 파이썬

In [ ]:
a = 'Red Green Blue'
print(a.split()) #공백 기준으로 나누고 list type으로 출력

a = 'Red Green Blue'
print(a.split('e')) # 비어있는 값으로 나오기도 함.

['Red', 'Green', 'Blue']
['R', 'd Gr', '', 'n Blu', '']

문제1)
S='Somewhere on the rainbow'를 'Somewhere over the rainbow'로 변환하세요.

In [ ]:
S='Somewhere on the rainbow'
print(S.replace('on','over'))

# 답지
# print(dir(S)) -> 명령어 찾기
# print(S.replace('on','over'))

Somewhere over the rainbow

문제2)
s = '/usr/local/bin/python' 에서 각각의 디렉토리 경로명을 분리하여 출력하세요.

[실행결과] ['', 'usr', 'local', 'bin', 'python']

In [ ]:
s = '/usr/local/bin/python'
print(s.split('/'))

# 답지
# s '/usr/local/bin/python'
# s.split('/') -> list 출력

['', 'usr', 'local', 'bin', 'python']

문제3)
'spam ham'을 'ham spam'으로 치환하세요.

※문자열의 split( )과 join( )메서드 그리고 리스트의 reverse( )메서드를 사용

In [ ]:
c = 'spam ham'
print(c.split())

'spam'.join(['ham ', ''])

# 답지
# a = 'spam ham'  -> str은 reverse 할 수 없음. (error)
# b = a.split()
# print(b)
# c = b.reverse()
# print(c)  -> 출력값 None
# c 변수 지정 하지 않고 바로 b.reverse() print(b)
# c = ' '.join(b)
# print(c)

d = c.split()
d.reverse()
print(' '.join(d))

['spam', 'ham']
ham spam

In [ ]:
def process( ):
  return 'data'

print(process()) # return이 있으면 출력

def display():
  k='data'

print(display()) # return이 없으면 None

data
None

문제4)    
문자열이 주어져 있을 때 'spam'이 몇 번 나타나는지 구하시오.   
단, 대소문자 구분하지 않음   
s='spam Spam SpaM eGG Egg ham hAm'

In [ ]:
s='spam Spam SpaM eGG Egg ham hAm'
s.lower() # type(s.lower()) -> str
s.lower().count('spam') #type -> int

3

문제5)   
단어의 순서가 바뀐 문자열로 만들세요.   
s = 'Sometimes I feel like a montherless child'

[실행결과]
'child motherless a like feel I Sometimes'   
'dlihc sselrehtnom a ekil leef i semitemoS'   
'SometimesIfeellikeamontherlesschild'

In [ ]:
# 단어의 순서 바꾸기
s =  'Sometimes I feel like a montherless child'
p = s.split()
p.reverse()
' '.join(p)

'child montherless a like feel I Sometimes'

In [ ]:
# 문자열의 순서 뒤집기
s =  'Sometimes I feel like a montherless child'
len(s) # 41개
s[::-1]

'dlihc sselrehtnom a ekil leef I semitemoS'

In [ ]:
# 공백의 없애기
s = 'Sometimes I feel like a montherless child'
p = s.split()
''.join(p)

'SometimesIfeellikeamontherlesschild'

In [ ]:
s = 'Sometimes I feel like a montherless child'
s.replace(' ','')

'SometimesIfeellikeamontherlesschild'

## 리스트(list)
 - 시퀀스 (Sequence)자료형으로 데이터의 크기나 원소값을 변경할 수 있다.
 - 리스트는 [ ]대괄호로 표현한다.

In [ ]:
a = []
print(a)
print(type(a))
print(dir(a))

[]
<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

java

```java
class Test{
   public static void main(String[ ] args){
          int[] arr = new int[]{1,2,3}:
     }
}
```

javascript

```javascript
  let color = ['red','green','blue']

```

In [ ]:
a = [10, 20, 30]
a

[10, 20, 30]

In [ ]:
# indexing
a[0]

10

In [ ]:
# slicing
a[0:]

[30, 20, 10]

In [ ]:
a[::-1]

[30, 20, 10]

In [ ]:
a[-3:-1:1] # 수가 커지면 양수방향

[10, 20]

In [ ]:
a[-1:-3:-1] # 수가 작아지면 음수방향

[30, 20]

In [ ]:
a = [5, 10, 15, 20, 25, 30]

In [ ]:
a[:3]

[5, 10, 15]

In [ ]:
a[:3:2]

[5, 15]

### list는 다양한 타입을 함께 포함할 수 있다.

In [ ]:
a = [10,'python',80.5,False]
a

[10, 'python', 80.5, False]

In [ ]:
a = [[10,20,30],(1,2,3),{100,2000},{'x':5, 'y':8}] # [list, tuple, set, dict]
a #{값} -> set {키:값} -> dict

[[10, 20, 30], (1, 2, 3), {100, 2000}, {'x': 5, 'y': 8}]

### list는 (+)연산자를 사용하여 연결하기를 할 수 있다.

In [ ]:
a = [1,2]
a + a

[1, 2, 1, 2]

In [ ]:
# a + 2 -> TypeError: can only concatenate list (not "int") to list

a*5

# a*a -> TypeError: can't multiply sequence by non-int of type 'list'

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

### list에서 특정 값이 있는지 멤버 검사를 할 수 있다.

In [ ]:
print(3 in a)
print(1 in a)

False
True

### list는 mutable이므로 요소들을 변경할 수 있다.(가변성)

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)

#a[0]=1
#a[1]=2

a[0:2] = [1,2] # 지정한 범위의 요소를 변경한다. (원소값변경)
print(a)

['apple', 'banana', 100, 200]
[1, 2, 100, 200]

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)
# a[0:2] = 50 -> TypeError: can only assign an iterable
a[0:2] = [50] # 지정한 범위의 요소를 변경한다. (크기변경)
print(a)

['apple', 'banana', 100, 200]
[50, 100, 200]

In [ ]:
# 크기변경은 증가 감소 모두 가능하다.
a = ['apple', 'banana', 100, 200]
print(a)
a[0:2] = [10,20,30,40]
print(a)

['apple', 'banana', 100, 200]
[10, 20, 30, 40, 100, 200]

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)
a[0:2]=[] # 지정한 범위의 요소를 변경한다. (삭제)
print(a)

['apple', 'banana', 100, 200]
[100, 200]

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)

del a[0:2] # del 키워드를 이용해서 요소를 삭제할 수 있다.
print(a)

['apple', 'banana', 100, 200]
[100, 200]

### list에 요소를 추가할 수 있다.

In [ ]:
a = [3, 6, 9]
print(a)

a[3:3]=['red', 'blue', 'green'] # 슬라이싱
print(a)

[3, 6, 9]
[3, 6, 9, 'red', 'blue', 'green']

In [ ]:
a = [3, 6, 9]
print(a)

a[2]=['red', 'blue', 'green'] # 인덱싱
print(a)

[3, 6, 9]
[3, 6, ['red', 'blue', 'green']]

### list에서 확장슬라이싱을 사용할 때는 왼쪽과 오른쪽 요소 개수가 같아야 한다.

In [ ]:
a = [2, 4, 6, 8]
print(a)

a[:] = [-1, -2, -3 ,-4]
print(a)

a[:] = [-1, -2]
print(a)

[2, 4, 6, 8]
[-1, -2, -3, -4]
[-1, -2]

In [ ]:
a = [2, 4, 6, 8]
print(a)

a[::1] = [-1, -2, -3 ,-4]
print(a)

#a[::2] = [-1, -2, -3 ,-4]
#print(a) ValueError: attempt to assign sequence of size 4 to extended slice of size 2

[2, 4, 6, 8]
[-1, -2, -3, -4]

In [ ]:
a = [2, 4, 6, 8]
print(a)

a[::2] = [-1, -2] #[2,6]이 저장된 자리에 [-1,-2]의 요소를 대체한다.
print(a)

[2, 4, 6, 8]
[-1, 4, -2, 8]

### list는 한 변수에서 데이터를 각각 꺼내오는 언팩킹(unpacking)지원을 한다.

In [ ]:
fruits = ['apple', 'mango', 'grape','banana']
#a = fruits[0] ... d = fruits[3] print(a,b,c,d) -> 번거로움

[zero, one, two, three] = fruits # [ ](대괄호) 생략 가능
print(zero, one, two,three)
print(type(zero), type(one), type(two), type(three))

apple mango grape banana
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [ ]:
fruits = ['apple', 'mango', 'grape','banana']
print(fruits)
x,   _,  _,_ = fruits
print(x)

['apple', 'mango', 'grape', 'banana']
apple

In [ ]:
fruits = ['apple', 'mango', 'grape','banana']
print(fruits)

x,*y = fruits # (*)은 한번만 사용할 수 있다.
print(x) # list -> str
print(y) # list - > list
print(type(x),type(y))

['apple', 'mango', 'grape', 'banana']
apple
['mango', 'grape', 'banana']
<class 'str'> <class 'list'>

In [ ]:
fruits = ['apple', 'mango', 'grape','banana']
print(fruits)
*x,y=fruits
print(x)
print(y)

x,*y,z =fruits
print(x)
print(y)
print(z)

['apple', 'mango', 'grape', 'banana']
['apple', 'mango', 'grape']
banana
apple
['mango', 'grape']
banana

In [ ]:
len(a) # function
y.append(3) # method

### list에서 제공하는 메소드

In [ ]:
a = [1,2,3]
print(type(a))
print(dir(a))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
a = [1,2,3]
a.append(4) # 요소 추가
print(a)

# a.append(5,6) print(a) -> TypeError: list.append() takes exactly one argument (2 given)

[1, 2, 3, 4]

In [ ]:
a = [1,2,3]
a.reverse()
print(a) # 치환 (역순)

[3, 2, 1]

In [ ]:
a = [1,2,3]
#print(a.index(0)) # ValueError: 0 is not in list

print(a.index(1)) # 1요소가 지정된 위치를 리턴
#print(a.find(1)) # AttributeError: 'list' object has no attribute 'find'

0

In [ ]:
a = [1,2,3]
a.insert(1, 10) # 1인덱스에 10요소를 삽입
print(a)

[1, 10, 2, 3]

In [ ]:
a = [1,2,3]
a.remove(3) # 3요소를 삭제
print(a)
b = a.remove(2) #remove(value) return값 None
print(b)

[1, 2]
None

In [ ]:
a = [1,2,3,3,3,3,3,3]
a.remove(3) # 중복해서 있을 경우 첫번째 요소만 삭제
print(a)

[1, 2, 3, 3, 3, 3, 3]

In [ ]:
a = [1,2,3]
a.pop(2) # 2인덱스의 요소를 list에서 꺼내옴
print(a)
b = a.pop(1) # pop(index) return값 있음
print(b)

[1, 2]
2

In [ ]:
a = [1,1,2,3]
print(a.count(1)) # 1요소의 개수를 리턴함.

2

In [ ]:
a = [1,2,3]
a.extend([4,5]) # list를 확장함 (+)연산자와는 다르고 (+=)와 같은 의미.
print(a)
b = a.extend([6,7]) #extend(iterable) return값 None
print(b)

[1, 2, 3, 4, 5]
None

In [ ]:
a = [1,2,3]
a += [4,5]
print (a)

[1, 2, 3, 4, 5]

## Tuple(튜플)
 - 변경이 불가능(immutable)한 순서(sequence)가 있는 자료형이다.
 - 튜플은 ( )소괄호로 표현한다.

In [ ]:
t = ( )
print(t)
print(type(t))
print(dir(t))

()
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t = (10,20,30) # tuple은 콤마(,)로 구분하여 사용한다.
print(t)

(10, 20, 30)

In [ ]:
t = 10,20,30 # tuple은 (  )괄호 생략이 가능하다.
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [ ]:
#t = (1) -> class 'int'
t = (1,) #요소가 하나이면 콤마를 사용한다.
print(t)
print(type(t))

# 괄호 생략은 가능하지만 콤마 생략은 불가능하다.

(1,)
<class 'tuple'>

In [ ]:
# 다양한 데이터 타입의 값을 저장할 수 있다.
t = (1, ('ko','en'),False) # (int tuple bool)
print(t)

(1, ('ko', 'en'), False)

In [ ]:
 # (+)연산자로 연결하기가 가능하다.
t = (1, 2, 3) + (4, 5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
 # (*)연산자로 반복하기가 가능하다.
t = (1,1,1) * 3
print(t)

(1, 1, 1, 1, 1, 1, 1, 1, 1)

In [ ]:
# in으로 멤버검사가 가능하다.
t = (1,2,3)
print(2 in t)
print(4 in t)

True
False

In [ ]:
t = (5, 10 ,15 ,20 ,25 ,30)
print(t)
print(t[0]) # indexing
#print(t[0,2,5]) -> TypeError: tuple indices must be integers or slices, not tuple

print(t[0:5]) # slicing

(5, 10, 15, 20, 25, 30)
5
(5, 10, 15, 20, 25)

### tuple에서 언패킹(unpacking)

In [ ]:
t = (10,15,20,25,30,35)
x,y,*z = t
print(x)
print(y)
print(z) # 나머지 -> class 'list'

10
15
[20, 25, 30, 35]
<class 'list'>

In [ ]:
x,*_,z = t # 안쓰는 부분은 (*_)로 처리 가능
print(x)
#print(y)
print(z)

10
35

In [ ]:
t = (10,15), (20,25)
x,y = t
print(x)
print(y)

print('-------------')
#x,y,m.n=t #ValueError: not enough values to unpack (expected 3, got 2)
(x,y),(m,n)=t
print(x)
print(y)
print(m)
print(n)

(10, 15)
(20, 25)
-------------
10
15
20
25

### tuple 메소드(method) 제공
 - count, index 제공

In [ ]:
t = (1,2,3,2,2,3)
print(t.count(3)) # 3요소의 개수 리턴
print(t.index(2)) # 2요소의 index를 리턴 (처음 검색된 요소)

print(t.index(3,4)) # index(value, start) 4인덱스부터 3요소의 인덱스를 리턴

2
1
5

## tuple과 list 비교
 - 공통점
   - 다양한 데이터 타입의 객체 저장 가능
   - 순서가 유지되는 순서자료형(sequence)
 - 자료형
   - tuple은 변경불가능(immutable)   
   - list는 변경가능(mutable)

In [ ]:
t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [ ]:
s = list(t) # 함수를 이용해서 tuple을 list로 생성
print(s)
print(type(s))

[1, 2, 3]
<class 'list'>

In [ ]:
p = tuple(s) # 함수를 이용해서 list를 tuple로 생성
print(p)
print(type(p))

(1, 2, 3)
<class 'tuple'>

In [ ]:
t = (1,2,3) # 생성시 콤마뒤의 공백 유무에 상관없이 띄어처리함.
v = str(t)
print(v)
print(type(v))
print(len(v)) # ()와 띄어처리한 공백까지 str 형식으로 치환됨.

(1, 2, 3)
<class 'str'>
9

In [ ]:
i = [1,2,3] # 생성시 콤마뒤의 공백 유무에 상관없이 띄어처리함.
m = str(t)
print(m)
print(type(m))
print(len(m)) # ()와 띄어처리한 공백까지 str 형식으로 치환됨.

(1, 2, 3)
<class 'str'>
9

## 집합(sets)
  - 집합은 여러 값을 순서와 중복없이 모아 놓은 자료형
  - python은 set과 frozenset 두가지 집합자료형을 제공
  - set은 변경 가능한 자료형이고 frozenset은 변경 불가능한 자료형
  - set은 { }중괄호로 사용할 수 없으나 set( )으로 표현

In [ ]:
s = {} # [] = list(), () = tuple(), {} = dict{}
print(s)
print(type(s))

{}
<class 'dict'>

### 집합(set)
 - 멤버십(원소와 집합사이의 귀속관계)검사, 시퀀스에서의 중복제거와 교집합,차집합 합집합등 수학연산 수행에 사용된다.
 - 순서가 유지가 안되므로 인덱싱과 슬라이싱을 사용할 수 없다.
 - 반복 가능(iterable)한 객체로 집합 객체를 생성할 수 있다.

In [ ]:
s = set() # set(iterable)
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
set((3, 1, 5, -2, 1))  # 순서 유지가 않되고 중복없이 오름차순으로 정렬이 됨.

{-2, 1, 3, 5}

In [ ]:
a = (3, 1, 5, -2, 1)
b = set(a)
print(b)

{1, 3, 5, -2}

In [ ]:
set('apple')

{'a', 'e', 'l', 'p'}

In [ ]:
set([3, 1, 5, -2, 1])

{-2, 1, 3, 5}

In [ ]:
a = [3, 1, 5, -2, 1]
b = set(a) # deep copy : 메모리 생성
print(b)

a[0] = 2
print(a)
print(b) # 참조형 값이 변해도 set값은 변하지 않음.

{1, 3, 5, -2}
[2, 1, 5, -2, 1]
{1, 3, 5, -2}

In [ ]:
# set으로 생성할때는 변경 불가능한 데이터만 가능하다.
k = [2,4]
a = [3,1,k,1] # 주소는 변경이 가능하기 때문에 사용 불가능.
print(a)
#b = set(a) -> TypeError: unhashable type: 'list'

[3, 1, [2, 4], 1]

In [ ]:
b =set({'one':1,'two':2}) # dict자료형으로 set을 생성하면 키만 참조한다.
print(b)
print(type(b))

{'two', 'one'}
<class 'set'>

In [ ]:
b =set({'one','two','under','app'})
print(b)
print(type(b))

{'under', 'two', 'app', 'one'}
<class 'set'>

In [ ]:
print(dir(set()))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
a = set((1,2,3,4,5))
b = set((4,5,6,7))

#합집합
print(a.union(b)) # union
print(a | b) # (|) 수직바

#교집합
print(a.intersection(b)) # intersection
print(a & b) # (&)

#차집합
print(a.difference(b)) # difference
print(a - b) # (-)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}

In [ ]:
a = set((1,2,3,))
a.add(4) # add 요소 추가 -> 한개만
print(a)

{1, 2, 3, 4}

In [ ]:
a = set((1,2,3,))
a.update([4,5,6]) # update 요소 추가 -> iterable
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
a = set((1,2,3,))
a.remove(2) # remove 요소 삭제
print(a)

{1, 3}

### frozenset
 - 요소를 변경하지 않는 범위에서 set객체와 동일하게 동작한다.
 - frozenset객체의 생성은 집합을 포함한 반복 가능한 자료형으로부터 가능하다.
 - frozenset은 frozenset( )으로 생성한다.

In [ ]:
f = frozenset()
print(f)
print(type(f))

frozenset()
<class 'frozenset'>

In [ ]:
f = frozenset([1,2,3,4,5]) #frozenset(iterable) -> frozenset object
print(f)

frozenset({1, 2, 3, 4, 5})

In [ ]:
print(dir(f))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

## dict
 - 특정키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형이다.
 - 데이터의 저장 순서가 없다.
 - 내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.
 - key-value형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다.
 - key 값은 중복을 허용하지 않는다.

In [ ]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
d = {'one':1,'two':2} #Key로 사용시 'one'
print(d)
print(d['one'])
# print(d.one) -> AttributeError: 'dict' object has no attribute 'one'

{'one': 1, 'two': 2}
1

In [ ]:
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
d = dict(one=1,two=2) #example:  dict(mapping)or(iterable) #'one' 사용안됨.
print(d)
print(d['one'])

{'one': 1, 'two': 2}
1

zip( )함수를 이용해서 dict( )생성할 수 있다.

In [ ]:
keys = ['one','two','three']
values = [1,2,3]
a = zip(keys, values)
print(a)
d = dict(a)
print(d)

<zip object at 0x7ef5f944de40>
{'one': 1, 'two': 2, 'three': 3}

In [ ]:
keys = ['one','two','three']
values = [1,2,3,4,5]
#a = zip(keys, values)
#print(a)
d=dict(zip(keys, values)) # 안맞는 개수 탈락
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
keys = ['one','two','three']
values = [1,2]
d=dict(zip(keys, values)) # 안맞는 개수 탈락
print(d)

{'one': 1, 'two': 2}

In [ ]:
#dict 메소드 제공
print(dir({}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#키만 출력하기
d = {'one':1,'two':2}
print(d.keys())

#따로 가져오기 for문
for k in d.keys():
  print(k)

dict_keys(['one', 'two'])
one
two

In [ ]:
#value만 출력하기
d = {'one':1,'two':2}
print(d.values())

dict_values([1, 2])

In [ ]:
d = {'one':1,'two':2}
print(d.items())

dict_items([('one', 1), ('two', 2)])

In [ ]:
d = {'one':1,'two':2}
print(d.get('one')) #d['one']
print(d.get('three'))
print(d.get('three', 0)) #get(key, default)

1
None
0

In [ ]:
d = {'one':1,'two':2}

---


print(d.clear())
print(d)

SyntaxError: ignored

str  : immutable, sequence  
list : mutable, sequence  
tuple : immutable, sequence  
set : mutable, non-sequence  
frozenset : imutable, sequence  
dict : mutable, non-sequence  

indexing, slicing : str, list, tuple

## boolean
 - True(참),False(거짓)

In [ ]:
a = True
print(a)
print(type(a))
print(dir(a))

True
<class 'bool'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
#python은 existance로 판단하다.
a=1
print(bool(a))
b=0
print(bool(b)) # 존재론적으로 '0'은 없는 수

c='ko'
print(bool(c))
d=''
print(bool(d)) # 존재론적으로 ''는 없음

e=(1,2)
print(bool(e))
f=()
print(bool(f)) # 존재론적으로 ()는 없음

True
False
True
False
True
False

100 이하의 자연수 중에서 2의 배수이거나 3의 배수인 수의 개수를 구하세요.

[실행결과]
67

In [1]:
len(set(range(2, 101, 2)) | set(range(3, 101, 3)))

67

전체집합을 U로 할때 U의 부분집합 A와 B에 대해서 연산의 결과를 구현하세요.

U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}  
A = {1, 3, 5, 7, 9}  
B = {1, 2, 3, 4, 5}  

가) A∩Bc

나) (A∪B)c

[실행결과]
가) {7, 9} 나) {6, 8, 10}

In [8]:
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {1, 3, 5, 7, 9}
B = {1, 2, 3, 4, 5}

print((U&A)-B)
print(U-(A|B))

#print(A &(U - B))

{9, 7}
{8, 10, 6}

주어진 문자열의 각 단어가 중복되지 않게 한 번씩만 출력이 되도록 구현하세요. (출력순서를 무관합니다.)  
s = 'one two one two three four'

[실행결과]
['two', 'four', 'one', 'three']

In [10]:
s = 'one two one two three four'
print(set(s.split()))
#list(set(s.split())) 실행결과가 list이다.

{'three', 'four', 'two', 'one'}

튜플에 저장된 데이터에서 마지막 요소 5개를 삭제한뒤 나머지를 튜플로 출력하세요.  
data =1,2,3,4,5,6,7,8,9,10

[실행결과]
(1, 2, 3, 4, 5)

In [ ]:
data =1,2,3,4,5,6,7,8,9,10 # 소괄호 () 생략
print(type(data))
print(data[:5])

# data = list(data)
# del (data[-1:-6:-1]) '마지막 요소 5개를 삭제한뒤'의 과정
# print(tuple(data))

<class 'tuple'>
(1, 2, 3, 4, 5)

a변수에 저장된 문자열에서 인덱스 홀수, b변수에 저장된 문자열에서 인덱스 짝수만을 가져오는 연결하는 프로그램을 구현하세요.  
a='apple'  
b='strawberry'

[실행결과]
plsrwer

In [ ]:
a='apple'
b='strawberry'

print(a[1::2]) # index는 0부터 시작한다.
print(b[0::2])
print(a[1::2]+b[0::2])
# print(a[1::2]+b[::2]) 0은 생략 가능하다.

pl
srwer
plsrwer

평균 점수 구하기
홍길동 씨의 과목별 점수는 다음과 같다.   
홍길동 씨의 평균 점수를 구해보자.  
국어 : 80  
영어 : 75  
수학 : 55

In [ ]:
ko = 80
en = 75
mat= 55

aver = (ko+en+mat)/3
print(aver)

70.0

자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [ ]:
n = 13
n%2 # 나머지가 1이면 홀수, 0이면 짝수

1

주민등록번호 나누기

In [ ]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

주민등록번호 인덱싱

In [ ]:
pin = '881120-1068234'
print(pin[7]) #성별은 뒷자리 첫번째숫자 1,3->남 2,4->여

1

문자열 바꾸기  
문자열의 replace 함수를 사용하여  
a:b:c:d 문자열을 a#b#c#d로 바꿔 출력하기

In [ ]:
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

리스트 역순 정렬하기  
[1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자

In [ ]:
a = [1,3,5,4,2]
#print(dir(a))
a.sort() # 오름차순으로 정렬하기
a.reverse() # 역순으로 정렬하기
print(a)

리스트를 문자열로 만들기  
['Life', 'is', 'too', 'short']리스트를  
Life is too short문자열로 만들어 출력하기

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(['Life', 'is', 'too', 'short'])
print(result)

Life is too short

튜플 더하기
(1,2,3)튜플에 값 4를 추가하여 (1,2,3,4)로 만든 후 출력해 보자.

In [ ]:
a = (1,2,3)
a = a + (4,) # 튜플에서는 ()는 생략이 가능하나 ,는 생략이 불가능하다.
print(a)

(1, 2, 3, 4)

In [ ]:
a=dict()
a
{}
#딕셔너리의 키는 변하지 않는 값만 사용이 가능하다

a['name']='python'
a[('a')]='python'
#a[[1]]='python' -> TypeError: unhashable type: 'list' -> list는 변하는 값이라 사용안됨.
a[250]='python'

딕셔너리 값 추출하기  
딕셔너리 a에서 'B'에 해당하는 값을 추출해보자.

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B') # pop함수로 B키에 저장된 value 80을 꺼내옴.
print(a)
print(result)

{'A': 90, 'C': 70}
80

리스트에서 중복 제거하기  
a 리스트에서 중복 숫자를 제거해 보자.

In [ ]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
print(aSet)
print(type(aSet))
b = list(aSet)
print(b)
print(type(b))

{1, 2, 3, 4, 5}
<class 'set'>
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
a = b = [1,2,3]
a[1] = 4
print(b) # 동일한 변수를 가리키고 있기때문에 b의 값도 변한다.

[1, 4, 3]