<a href="https://colab.research.google.com/github/minsaee/python_demo/blob/master/101_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 비교연산자
 - <       >       <=      >=      ==      !=
 - 결과는 논리값(bool) : True,False

In [ ]:
print(3 < 2) # False
print(3 > 2) # True
print(3 <= 2) # False
print(3 >= 2) # True
print(3 == 2) # False
print(3 != 2) # True

False
True
False
True
False
True

#논리연산자
 - &       |       ^       
 - and, or, not

In [ ]:
print(True & True) # True 'and'
print(True | False) # True 'or'
# [^A-Z]: 영어 대문자가 아닌 것들
# [^Ss]: 대문자 S 또는 소문자 s가 아닌 것들
# [^e^]: 소문자 e 또는 기호 ^가 아닌 것들
# [a^b]: a^b
# 주의할 것은 대괄호 맨 앞에 위치한 ^만 not의 역할이며, 이후에 등장하는 ^는 기호 그대로를 뜻한다.
print(not True)

True
True
False

# existance
 - python에서 조건은 존재론적이다. -> truthy,falsey

In [ ]:
a = 0.0 # None , {}, [], ()
        # a = int(), float(), list(), tuple(), str(), set(), fronzenset()
if a:
  print('Yes')
else :
  print('No') # 없는 값으로 판단함 -> falsey

No

In [ ]:
3<2 or 3<4

True

In [ ]:
# 좌변우변중 먼저오는 True값 출력
3 or 4 # True or True

3

In [ ]:
3 or 0 # True or False

3

In [ ]:
0 or 3 # False or True

3

In [ ]:
# 좌변우변중 나중에오는 True값 출력
3 and 4 # True and True

4

In [ ]:
3 and 0 # True and False

0

In [ ]:
0 and 3 # False and True

0

# 제어문(statement controller)
 - 문장의 흐름을 제어해준다.
 - 조건문, 반복문,
 - 조건문
  - if ~ else
 - 반복문
  - for ~ in
  - while
 - break, continue (중지, 계속)

```
if 조건식 :   
   수행할 문장   
else :
   수행할 문장
```

In [ ]:
# if ~ else 조건문
a = 2
if a>5 :
  print('Ok')
else :
  print('Fail')

Fail

In [ ]:
# 간단한 홀수,짝수 조건문 (단 0일때는 안됨.)
a = 3
if a%2==0 :
  print('even')
else :
  print('odd')

odd

In [ ]:
name = '호날두'
if name :
  print(name)

호날두

In [ ]:
#if 조건문에는 문장을 사용할 수 없다.
#if a=4:
#print(a) SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='?

In [ ]:
# 다중 if 조건문

# 80이상이면 '상' 80미만 60이상이면 '중' 60미만이면 '하'
a = 78
if a>=80 :
  print('상')
elif a>=60 : # else if -> elif
  print('중')
else :
  print('하')

중

In [ ]:
a = 85
if a>=80 :
  print('상')
else:
  if a>=60:
    print('중')
  else:
    print('하')

상

In [ ]:
a = 59
if a>=60:
  if a >= 80:
    print('상')
  else :
    print('중')
else :
  print('하')

하

In [ ]:
a = 77
if 60>a:
  print('하')
elif 80>a:
  print('중')
else :
  print('상')

중

In [ ]:
member = True
grade = 'A' # 'S' 50, 'A' 30
point = 0

if member :
  #pass 수행할 문장을 넘어갈 때
  if grade == 'S':
     point = 50
  else :
    point = 30

else:
  point = 0

print(point)

30

In [ ]:
age = int(input('나이 : '))
gender = input('성별[남,여] : ')

if gender=='남':
  if age >19 :
    print('성인 남성입니다.')
  else :
    print('청소년 남성입니다.')
elif gender == '여':
  if age >19:
    print('성인 여성입니다.')
  else :
    print('청소년 여성입니다.')
else:
  print('성별을 다시 입력해 주세요[남, 여]')

나이 : 456
성별[남,여] : 45
성별을 다시 입력해 주세요[남, 여]

* 퀴즈
1. 놀이기구에 키가 140cm이상이고,
  나이가 8세 이상인 사람만 탑승한다고 가정합니다.
2. 먼저 키(height)와 나이(age)를 입력받으세요.
3. 조건문 if~else를 사용하여 2개의 조건이 모두 참일 경우
  "놀이기구에 탑승할 수 있습니다."를 출력하세요.
4. 위 조건이 거짓일 경우 "놀이기구에 탑승할 수 없습니다."
    를 출력하세요.
5. 조건식과는 별개로 "오늘 하루 즐거운 시간되세요!"
   를 출력하세요.
'''

In [ ]:
height = int(input('키를 입력하시오.'))
age = int(input('나이를 입력하시오.'))

if height >= 140 :
  if age >= 8:
    print("놀이기구에 탑승할 수 "'\033[91m' + "있습니다." + "\033[0m" "\n오늘 하루 즐거운 시간되세요!")
  else :
    print("놀이기구에 탑승할 수 "'\033[91m' + "없습니다." + "\033[0m" "\n오늘 하루 즐거운 시간되세요!")
else :
  print("놀이기구에 탑승할 수 "'\033[91m' + "없습니다." + "\033[0m" "\n오늘 하루 즐거운 시간되세요!")

#if height>=140 and >=8 : # and로 조건을 묶어서 사용할 수 있다.
#  print("놀이기구에 탑승할 수 있습니다.")
#else :
#  print("놀이기구에 탑승할 수 없습니다.")

#print("오늘 하루 즐거운 시간되세요!")

키를 입력하시오.140
나이를 입력하시오.5
놀이기구에 탑승할 수 없습니다.
오늘 하루 즐거운 시간되세요!

'''
[조건]
1. 18세 미만은 이 영화를 볼 수 없다
2. 18세 이상 59세 이하의 손님은 8000원
3. 60세 이상의 손님은 5000원
4. 포인트카드를 가지고 있고 지금까지 5편의 영화를 본 손님은 5000원

18세 미만이면 '티켓을 팔 수 없다'를 기술한 부분이다.
60세 이상이거나 포인트가 있고 5편 관람한 할인 대상자는 '티켓은 5000원입니다.
그외는 '티켓은 8000원입니다'로 출력하는 프로그램을 구현하시오.

[테스트1]
age=35
point_card =True
count=5

출력결과 : 티켓은 5000원입니다

[테스트2]
age=17
point_card =True
count=5

출력결과 : 티켓을 판매할 수 없습니다

[테스트3]
age=35
point_card =True
count=3

출력결과: 티켓은 8000원입니다
'''

In [ ]:
age = int(input("나이를 입력하시오."))
point_card = input("포인트 카드가 있습니까? [있으면 1, 없으면 0]")

if age>18:
  point_card = 1
  count = int(input("지금까지 관람한 영화의 개수를 입력하시오."))
  if count >= 5 :
    print("티켓은 5000원입니다.")
  else :
    print("티켓은 8000원입니다.")
else :
  print("티켓을 팔 수 없다.")

나이를 입력하시오.19
포인트 카드가 있습니까? [있으면 1, 없으면 0]0
지금까지 관람한 영화의 개수를 입력하시오.5
티켓은 5000원입니다.

In [ ]:
age = int(input("나이 : "))
point_card = input("포인트카드여부")
count = int(input('영화 관람 횟수 : '))

if age<18 :
  print("티켓을 판매할 수 없습니다")
elif age >= 60 or (point_card and count>=5):
  print("티켓은 5000원입니다")
else:
  print("티켓은 8000원입니다")

나이 : 20
포인트카드여부
영화 관람 횟수 : 5
티켓은 8000원입니다

In [ ]:
# 윤년 : 연도를 4로 나누어 떨어지고 100으로 나누어 떨어지면 안되거나
#               400으로 나누어 떨어지면 된다.


year = int(input('year:'))
month = int(input('month:'))
end_day_31 = [1,3,5,7,8,10,12]
end_day_30 = [4,6,9,11]
day = 28
check = ''


if not (month >= 1 and month <= 12):
  print('월은 1부터 12까지만 입력해주세요')
else :
  if (year%4==0 and year%100!=0) or year%400==0 :
    #print('{}년도는 윤년'.format(year))
    check='윤년'
    if month ==2:
      day = 29
    #print('{}년도 {}월은 윤년, 마지막일 {}일입니다.'.format(year,month,day))
  else :
    #print('{}년도는 평년'.format(year))
    check='평년'
    if month==2:
      day = 28
      #print('{}년도 {}월은 평년, 마지막일 {}일입니다.'.format(year,month,day))
  print('{}년도 {}월은 {}, 마지막일 {}일입니다.'.format(year,month,check,day))

year:13413
month:12
13413년도 12월은 평년, 마지막일 28일입니다.

In [ ]:
#import sys
#if not (month >= 1 and month <= 12):
#  print('월은 1부터 12까지만 입력해주세요')
#else: sys.exit()
#if month ==4 or month==6 or month==9 or month==11:
#if month in end_day_30:
#  day = 30
#else :
#  day = 31

#if (year%4==0 and year%100!=0) or year%400==0 :
  #print('{}년도는 윤년'.format(year))
#  check='윤년'
#  if month ==2:
#    day = 29
#  print('{}년도 {}월은 윤년, 마지막일 {}일입니다.'.format(year,month,day))
#else :
  #print('{}년도는 평년'.format(year))
#  check='평년'
#  if month==2:
#    day = 28
#  print('{}년도 {}월은 평년, 마지막일 {}일입니다.'.format(year,month,day))

## 반복문 : while
 - 반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.
 - 대부분의 프로그래밍 언어는 while과 for를 지원한다.
---
else
 - if ~ else
 - try ~ except ~ else ~ finally
 - while ~ else

```
while 조건식 :  
   수행할 문장
else:
   수행할 문장
```

In [ ]:
# while 반복문이 완벽하게 실행되면 end 출력하기.
a = 10
while a>5 :
  a -= 1 # a = a-1 축약
  print(a)
else:
  print('end')

9
8
7
6
5
end

In [ ]:
# while 반복문을 break를 이용하여 강제적으로 빠져나오기.
a = 10
while a>5 :
  a -= 1 # a = a-1 축약
  print(a)
  if a == 5 :
    break # 반복문 강제 탈출
else:
  print('end')

9
8
7
6
5

In [ ]:
# continue는 다음 루프(조건식)로 넘어간다.
# 반복문을 중단하지 않으므로 else 조건문이 실행된다.
a = 10
while a>5 :
  a -= 1
  if a == 6 :
    continue # 생략
  print(a)
else :
  print('end')

9
8
7
5
end

In [ ]:
# 1부터 10까지 출력하는 프로그램
a = 1
while a <= 10 :
  print(a)
  a += 1         # a = a + 1
# a++ SyntaxError: invalid syntax

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1부터 10까지 출력하고 합계를 구하는 프로그램
a = 1
sum = 0
while a <= 10 :
  sum = sum + a
  print(a)
  a += 1

print('sum={}'.format(sum))

1
2
3
4
5
6
7
8
9
10
sum=55

In [ ]:
# 1부터 10까지 짝수, 홀수 합계를 구하는 프로그램
a = 1
even = 0  # 짝수
odd = 0   # 홀수
while a <= 10 :
  if a % 2 == 1: # 홀수?
    odd += a  #odd = odd + a
  else :
    even += a #even = even + a
  a += 1

print('짝수={}'.format(even))
print('홀수={}'.format(odd))

짝수=30
홀수=25

## 반복문 : for

```python
for 변수 in iterable :
    실행구문
```

for 반복문과 함께 사용되는 함수

```python
for 변수 in range(시작번호, 마지막번호, 증감값):
    실행구문

for 변수 in enumerate(sequence, start):
    실행구문

for 변수 in zip(data1,data2,...):
    실행구문
```

#### range

In [ ]:
# range(end)
for i in range(5): # 0부터 5미만의 값이 1씩 증가해서 생성
  print(i)

0
1
2
3
4

In [ ]:
# range(start,end)
for i in range(1,5): # 1부터 5미만의 값이 1씩 증가해서 생성
  print(i)

1
2
3
4

In [ ]:
# range(start,end,step)
for i in range(1,5,2): # 1부터 5미만의 값이 2씩 증가해서 생성
  print(i)

1
3

#### enumerate 함수
 - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀더 효율적으로 사용하기 위한 함수이다.
 - enumerate()함수는 순서자료형(list, tuple, str)을 입력으로 받아 인덱스를 포함하는 enumerate 객체를 리턴한다.
 - enumerate([순서자료형], [시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한 객체가 입력도고 시작값은 입력시 해당수 부터 증가하며, 생략했을 경우 기본값은 0 이다.

In [ ]:
for k in enumerate(['apple','python','microsoft']):
  print(k)

(0, 'apple')
(1, 'python')
(2, 'microsoft')

In [ ]:
for k,v in enumerate(['apple','python','microsoft']):
  print(k,v)

0 apple
1 python
2 microsoft

In [ ]:
for k,v in enumerate(['apple','python','microsoft'],1):
  print(k,v)

1 apple
2 python
3 microsoft

In [ ]:
a = {'one':10, 'two':20}
for k in enumerate(a):
  print(k)

(0, 'one')
(1, 'two')

In [ ]:
a = {'one':10, 'two':20}
for k,v in enumerate(a):
  print(k,a[v])

0 10
1 20

In [ ]:
for k in enumerate({10,20,30}):
  print(k)

(0, 10)
(1, 20)
(2, 30)

In [ ]:
for k,v in enumerate({10,20,30}):
  print(k,v)

0 10
1 20
2 30

#### zip
- 매개인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']

for x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [ ]:
a = []
for x in range(2,10):
  a.append(x)

print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 구구단 만들기
a = []
for x in range(1,10):
  for y in range(2,10):
    print('{} X {} = {}'.format(y,x, x*y), end='\t')
  print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [ ]:
a = []
for x in range(1,10):
  for y in range(2,10):
    #print('{} X {} = {}'.format(y,x, x*y), end='\t')
    a.append('{} X {} = {}'.format(y,x, x*y))
    a.append('\t')
  a.append('\n')

print(a)

['2 X 1 = 2', '\t', '3 X 1 = 3', '\t', '4 X 1 = 4', '\t', '5 X 1 = 5', '\t', '6 X 1 = 6', '\t', '7 X 1 = 7', '\t', '8 X 1 = 8', '\t', '9 X 1 = 9', '\t', '\n', '2 X 2 = 4', '\t', '3 X 2 = 6', '\t', '4 X 2 = 8', '\t', '5 X 2 = 10', '\t', '6 X 2 = 12', '\t', '7 X 2 = 14', '\t', '8 X 2 = 16', '\t', '9 X 2 = 18', '\t', '\n', '2 X 3 = 6', '\t', '3 X 3 = 9', '\t', '4 X 3 = 12', '\t', '5 X 3 = 15', '\t', '6 X 3 = 18', '\t', '7 X 3 = 21', '\t', '8 X 3 = 24', '\t', '9 X 3 = 27', '\t', '\n', '2 X 4 = 8', '\t', '3 X 4 = 12', '\t', '4 X 4 = 16', '\t', '5 X 4 = 20', '\t', '6 X 4 = 24', '\t', '7 X 4 = 28', '\t', '8 X 4 = 32', '\t', '9 X 4 = 36', '\t', '\n', '2 X 5 = 10', '\t', '3 X 5 = 15', '\t', '4 X 5 = 20', '\t', '5 X 5 = 25', '\t', '6 X 5 = 30', '\t', '7 X 5 = 35', '\t', '8 X 5 = 40', '\t', '9 X 5 = 45', '\t', '\n', '2 X 6 = 12', '\t', '3 X 6 = 18', '\t', '4 X 6 = 24', '\t', '5 X 6 = 30', '\t', '6 X 6 = 36', '\t', '7 X 6 = 42', '\t', '8 X 6 = 48', '\t', '9 X 6 = 54', '\t', '\n', '2 X 7 = 14', '\t', '3 X 7 = 21', '\t', '4 X 7 = 28', '\t', '5 X 7 = 35', '\t', '6 X 7 = 42', '\t', '7 X 7 = 49', '\t', '8 X 7 = 56', '\t', '9 X 7 = 63', '\t', '\n', '2 X 8 = 16', '\t', '3 X 8 = 24', '\t', '4 X 8 = 32', '\t', '5 X 8 = 40', '\t', '6 X 8 = 48', '\t', '7 X 8 = 56', '\t', '8 X 8 = 64', '\t', '9 X 8 = 72', '\t', '\n', '2 X 9 = 18', '\t', '3 X 9 = 27', '\t', '4 X 9 = 36', '\t', '5 X 9 = 45', '\t', '6 X 9 = 54', '\t', '7 X 9 = 63', '\t', '8 X 9 = 72', '\t', '9 X 9 = 81', '\t', '\n']

## comprehension
- comprehensionn이란 iterable한 오브젝트를 생성하기 위한 방법 중 하나이다.
 - List comprehension(LC)
 - Set comprehension(SC)
 - Dict comprehension(DC)

### List comprehension
- List 정의시 값을 정하지 않고 호출시 리스트 내의 값들이 처리되도록 구성
- A = [표현식 for 항목 in 반복가능객체(iterable)]
- A = [표현식 for 항목 in 반복가능객체(iterable) if 논리식]
- A = [표현식 for 항목1 in 반복가능객체(iterable)1 for 항목2 in 반복가능객체(iterable)2]

In [ ]:
s = []
for x in range(10):
  s.append(x**2)
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = [x**2 for x in range(10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = []
for x in range(10):
  if x%2 == 0:
    s.append(x**2)
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = [x**2 for x in range(10) if x%2 == 0]
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s = []
for i in range(1,3):
  for j in range(4,8):
    print('{}{}'.format(i,j))
    s.append((i,j))
print(s)

14
15
16
17
24
25
26
27
[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [ ]:
s = [ (i,j) for i in range(1,3) for j in range(4,8) ]
print(s)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

총판매금액을 구하는 프로그램(list comprehension을 사용)  
cnt = [1, 1, 2, 1]  
prod = [500, 1000, 400, 600]

In [ ]:
s = []
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]

for i,j in zip(cnt,prod):
  s.append(i*j)

print(sum(s))

2900

In [ ]:
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]

s = sum([i*j for i,j in zip(cnt,prod)])
print(s)

2900

'e'가 포함되어 있는 과일들만 추출해서 대문자로 출력하는 프로그램을 구현하세요.   
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']

[출력결과]
['APPLE', 'CHERRY', 'GRAPE']

In [ ]:
# e가 포함되어 있는 과일 추출
# 대문자로 출력

fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']

e_li=[]
for word in fruits:
  if 'e' in word:
    e_li.append(word.upper())
print(e_li)

['APPLE', 'CHERRY', 'GRAPE']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']

s = [word.upper() for word in fruits if 'e' in word] # in word.lower() <- 대소문자 섞인 리스트일시 소문자로 치환 필요.
print(s)

['APPLE', 'CHERRY', 'GRAPE']