<a href="https://colab.research.google.com/github/minsaee/python_demo/blob/master/102_python_%ED%95%A8%EC%88%98_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[문제1]  
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하세요.    
make_url("naver")  

[출력결과]    
www.naver.com

[문제2]   
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하세요.  
make_list("abcd")  

[출력결과]

['a', 'b', 'c', 'd']

[문제3]   
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하세요.   

pickup_even([3, 4, 5, 6, 7, 8])

[출력결과]   
[4, 6, 8]

[문제4]  
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하세요.

convert_int("1,234,567")

[출력결과]   
1234567

[문제4]  
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하세요.   
max(10, 2, 5)

[출력결과]  
10

[문제5]    
2 와 5의 배수가 아닌 갯수와 합계를 구하는 함수를 구현하세요.    

resultr(1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31)  

[출력결과]    
2 와 5의 배수가 아닌 갯수 : 7    
2 와 5의 배수가 아닌 합계 : 107   

==============================================  
result(5,2,7,9,10,8,6)     

[출력결과]    
2 와 5의 배수가 아닌 갯수 :  2
2 와 5의 배수가 아닌 합계 :  16