<a href="https://colab.research.google.com/github/minsaee/ai_chat_python/blob/master/103_python_%ED%8C%8C%EC%9D%BC_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Google Drive를 Colab에 연결해서 데이터 로딩하기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# 경로변경
%cd /content/drive/MyDrive/ai_chat_python

/content/drive/MyDrive/ai_chat_python

## 파일 입출력
open('파일경로', '파일열기모드')
 - w : 쓰기모드 - 파일에 내용을 쓸 때 사용
 - r : 읽기모드 - 파일에 내용을 읽을 때 사용
 - a : 추가모드 - 파일에 내용을 추가할 때 사용

In [9]:
fwrite = open('source/sample.txt', 'w') # 파일 열고 쓰기
for i in range(5):
  data = '{}번째 줄입니다.\n'.format(i)
  fwrite.write(data)
fwrite.close() # 파일 닫기

In [15]:
fread = open('source/sample.txt', 'r') # 파일 열고 읽기
line = fread.read() # read()는 파일의 모든 데이터를 읽어온다.
print(line)
print(type(line))
fread.close() # 파일 닫기

0번째 줄입니다.
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.

<class 'str'>

In [32]:
fread = open('source/sample.txt', 'r')
while True:
  line = fread.readline() # readline()은 파일에서 한라인씩 읽어옴
  if not line:            # 파일에서 더 이상 읽어올 내용이 없으면
    break
  print(line)
  print(type(line))
fread.close()

0번째 줄입니다.

<class 'str'>
1번째 줄입니다.

<class 'str'>
2번째 줄입니다.

<class 'str'>
3번째 줄입니다.

<class 'str'>
4번째 줄입니다.

<class 'str'>

In [34]:
fread = open('source/sample.txt', 'r') #sample.txt파일을 읽기로 연결한다.
line = fread.readlines() # readlines()은 파일에서 한라인씩 읽어와서 list에 저장한후 리턴한다.
print(line)
print(type(line))
fread.close()

['0번째 줄입니다.\n', '1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n']
<class 'list'>

In [71]:
# 기존 파일에 새로운 데이터를 추가 할 때는 모드의 값을 'a'로 설정한다.
fwrite = open('source/sample.txt', 'a') # 파일을 열고 내용을 추가한다.
for i in range(11,21):
  data = '{}번째 줄입니다.\n'.format(i)
  fwrite.write(data)
fwrite.close() # 파일 닫기

In [72]:
fread = open('source/sample.txt', 'r') #sample.txt파일을 읽기로 연결한다.
line = fread.readlines() # readlines()은 파일에서 한라인씩 읽어와서 list에 저장한후 리턴한다.
print(line)
print(type(line))
fread.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n', '16번째 줄입니다.\n', '17번째 줄입니다.\n', '18번째 줄입니다.\n', '19번째 줄입니다.\n', '20번째 줄입니다.\n']
<class 'list'>

### with문과 함께 사용
 - with문과 함께 파일을 사용하면 읽기,쓰기 할 때 close()를 안해도 된다.

In [37]:
with open('source/sample.txt', 'w') as f:
  for i in range(1, 11):
    data = '{}번째 줄입니다.\n'.format(i)
    f.write(data)

In [46]:
with open('source/sample.txt', 'r') as f:
  while True:
    line = f.readline()
    if not line:
      break
    print(line, end='')

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [60]:
with open('source/test.txt', 'w') as f:
  f.writelines(['apple','banana','lemon'])

In [65]:
with open('source/test.txt', 'r') as f:
  # print(f.readlines()) # ['applebananalemon']
  print(f.read()) # applebananalemon

applebananalemon

In [66]:
with open('source/test.txt', 'w') as f:
  f.writelines('_'.join(['apple','banana','lemon']))

In [70]:
with open('source/test.txt', 'r') as f:
  # print(f.readlines()) # ['apple_banana_lemon']
  print(f.read()) # apple_banana_lemon

apple_banana_lemon

In [52]:
# with open('source/test.txt', 'w') as f:
#  f.writelines(['apple', 1, True]) # wirte 할 때는 여러개의 자료형을 쓸 수 없다.
# TypeError: write() argument must be str, not int

```
fread = open('source/sample.txt', 'r')
line = fread.readlines()
print(line)
print(type(line))
fread.close()
```

[출력결과]   
['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n', '16번째 줄입니다.\n', '17번째 줄입니다.\n', '18번째 줄입니다.\n', '19번째 줄입니다.\n', '20번째 줄입니다.\n']

위의 실행 결과처럼 출력을 했을 때 줄바꿈**"\n"**이 들어가 있다.  
이를 해결하는 방법으로 **pickle**을 import해서 사용 가능하다.

In [74]:
import pickle

In [90]:
# 리스트 저장
# byte로 write는 'wb'
# dump(저장할 데이터, 파일)

with open('source/data.txt','wb') as f:
  pickle.dump(['apple','banana','lemon'], f) # 입력결과 -> € •        ]”(Œ apple”Œ banana”Œ lemon”e.

In [92]:
# 리스트로 읽어오기
# byte로 read는 'rb'
# load(저장한 데이터, 파일)

with open('source/data.txt', 'rb') as f:
  print(pickle.load(f)) # 출력결과 -> ['apple', 'banana', 'lemon']

['apple', 'banana', 'lemon']

In [83]:
# 딕셔너리도 똑같다.

with open('source/num.txt', 'wb') as f:
  pickle.dump({'one':2, 'two':5}, f) # 입력결과 -> € •        }”(Œ one”K Œ two”K u.

In [88]:
with open('source/num.txt', 'rb') as f:
   param = pickle.load(f)
   print(param) # 출력결과 -> {'one': 2, 'two': 5}
   print(type(param))

{'one': 2, 'two': 5}
<class 'dict'>

jumsu.txt 파일의 내용을 읽어와서 오름차순으로 정렬을 한 후 출력하는 프로그램을 구현하세요.

In [116]:
with open('source/jumsu.txt', 'r') as f :
  line = f.read()
  data = line.split(',')
  print(line)
  for i, v in enumerate(data):
    data[i] = int(v)

  # data.sort()
  # print(data)
  sorted(data)
  print(sorted(data))

10,50,60,80,30
[10, 30, 50, 60, 80]

In [117]:
with open('source/jumsu.txt', 'r') as f :
  line = f.read()

data = line.split(',')

hap = 0
for i, v in enumerate(data):
    data[i] = int(v)
    hap += data[i]

print(sorted(data))
print('합계:', hap)
print('평균:', hap/len(data))

[10, 30, 50, 60, 80]
합계: 230
평균: 46.0

built-in sorted()와 list의 .sort()비교

In [119]:
k = ['d','a']
print(k.sort())
k

None

['a', 'd']

In [120]:
k = ['d', 'a']
print(sorted(k))
k

['a', 'd']

['d', 'a']

[문제1]
score.txt 파일의 점수 정보를 읽어 들여서 각 학생의 점수 총합을 콘솔창에 출력하는 입출력 프로그램을 구현하시오.

[출력결과]  
kim의 점수 합계 :146  
hong의 점수 합계 :243  
park의 점수 합계 :240

In [144]:
with open('source/score.txt', 'r') as f:
  for line in f:
    #print(line, end="")
    total = 0
    # strip() 양쪽 공백 제거, split('/') 구분자를 이용한 문자열 분리, unpacking을 함.
    name, kor, mat, eng = line.strip().split('/')
    # total = sum(int(kor),int(mat),int(eng))
    total = int(kor)+int(mat)+int(eng)
    print("{:>6}의 점수 합계:{:<5}".format(name, total))

   kim의 점수 합계:146
  hong의 점수 합계:243
  park의 점수 합계:240

[문제2]
data_.txt 파일에는 PRODUCT 테이블의 컬럼 이름들이 저장되어있다.  
이 컬럼 이름들을 camel case 명명표기법으로 바꾸어 출력하는 프로그램을 구현하세요.

[출력결과]  
prodNo  
prodName  
price  
amount  
maker  
regDate

In [12]:
with open('source/data_.txt', 'r') as f:
  for line in f:
    #print(line)
    data = line.strip().lower().split('_')
    #print(data)
    res = data[0] # 0번째 index 가져오기
    for i, v in enumerate(data):
      if i != 0:
        res += v.title()
        # .title() 띄어쓰기 기준으로 각 단어의 첫글자는 대문자로, 나머지는 소문자로 변환한다.
    print(res)

prodNo
prodName
price
amount
maker
regDate

In [19]:
with open('source/data_.txt', 'r') as f:
  for line in f:
    data = line.strip().split('_')

    res = ''
    for i, v in enumerate(data):
      if i != 0:
        res += v.title()
      else:
        res += v.lower()
    print(res)

prodNo
prodName
price
amount
maker
regDate

[문제3]
input.txt 파일에는 팝송 가사가 들어있다. 이 파일에서 검색하고자 하는 문자열이 포함되어있는 라인의 번호와 가사를 출력하는 프로그램을 구현하세요. 만약에 'you'가 포함된 문장을 출력한다면 대소문자 구분없이 찾도록 한다.

[출력결과]   
5 line : It exists to give You comfort   
6 line : It is there to keep you warm   
9 line : When You are most alone   
10 line : The memory of love will bring you home   
14 line : It invites you to come closer  
15 line : It wants to show you more   
17 line : And even if you lose yourself   
20 line : will see you through   
39 line : My memories of love will be of you

In [28]:
with open('source/input.txt','r') as f:
  for i, v in enumerate(f):
    if v.lower().find('you') != -1:
      print("{} line : {}".format(i+1, v),end='')

5 line : It exists to give You comfort
6 line : It is there to keep you warm
9 line : When You are most alone
10 line : The memory of love will bring you home
14 line : It invites you to come closer
15 line : It wants to show you more
17 line : And even if you lose yourself
20 line : will see you through
39 line : My memories of love will be of you

In [32]:
with open('source/input.txt','r') as f:
  search = input('search:').lower()
  for i, v in enumerate(f):
    if v.lower().find(search) != -1:
      print("{} line : {}".format(i+1, v),end='')

search:love
3 line : Perhaps love is like a resting place
10 line : The memory of love will bring you home
12 line : Perhaps love is like a window
19 line : The memory of love
22 line : Oh love to some is like a cloud
27 line : And some say love is holding on
29 line : And some say love is everything
32 line : Perhaps love is like the ocean
39 line : My memories of love will be of you